@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

.bg-home {
    background-image: url("/public/images/bg-home.jpg");
    background-position: center;
    background-size: cover;
}

.loader {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow: 15px 0 #0008, -15px 0 #0002;
        background: #0008;
    }
    33% {
        box-shadow: 15px 0 #0008, -15px 0 #0002;
        background: #0002;
    }
    66% {
        box-shadow: 15px 0 #0002, -15px 0 #0008;
        background: #0002;
    }
    100% {
        box-shadow: 15px 0 #0002, -15px 0 #0008;
        background: #0008;
    }
}
